

*{
    margin: 0;
    padding: 0;
}

.top{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #047bd5 ;
}

.top img{
    height: 45px;
    width: 100px;
    position: relative;
    left: 150px;
}

.top button{
    position: relative;
    left: 320px;
    width: 120px;
    height: 34px;
    color: #047bd5;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.top input{
    position: relative;
    left: 250px;
    margin-top: 2.4px;
    height: 45px;
    width: 500px;
}

.top :nth-child(4){
    position: relative;
    left: 400px;
    color: #ffffff;
    font-weight: 700;
}

.top :nth-child(5) img{
    position: relative;
    left: 450px;
    width: 50px;
}

.top p{
    position: relative;
    left: 450px;
    width: 50px;
    margin-top: 10px;
    color: blanchedalmond;
    font-weight: 700;
}

.top2{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.top2 img{
    width: 80px;
    height: 50px;
    box-sizing: border-box;
    margin-left: 65px;
    margin-top: 10px;
}

.top2 p{
    width: 80px;
    height: 50px;
    box-sizing: border-box;
    margin-left: 60px;
}

.top22 p {
    margin-left: 80px;
}

.carouselP img{
    padding: 20px;
    width: 900px;
    height: 300px;
}

.top3{
    width: 90%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    top: 300px;
    left: 60px;
    font-weight: 700;
    font-size: 27px;
    display: flex;
    border-bottom: 2px  solid rgb(124, 109, 109);
}

.top3 button{
    width: 120px;
    height: 40px;
    position: relative;
    left: 850px;
    top: 10px;
    background-color: #047bd5;
    color: #ffffff;
    border-radius: 3px;
    border: solid #047bd5;
    font-size: 20px;
}

.top4{
    display: flex;
}

.top4 img{
    margin-top: 0px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin-left: 65px;
    margin-top: 10px;
    position: relative;
    top: 300px;
    border-right:2px solid #047bd5;
}

.top4 p{
    position: relative;
    top: 300px;
    left: 100px;
    margin: 0px;
}

.top4 :nth-child(2) {
    color: #2e47d6;
}

.top4 :nth-child(3) {
    color: green;
    margin-left: 15px;
}

.top4 :nth-child(4) {
    color: black;
    margin-left: -25px;
}

.top5 img{
    position: relative;
    top: 350px;
    left: 20px;
    width: 420px;
    box-sizing: border-box;
    border-radius: 5px;
}

.top5  :nth-child(2),:nth-child(3){
    margin-left: 20px;
}

.top5{
    display: flex;
}



.top6 img {
    width: 70%;
    height: 220px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    position: relative;
    top: 380px;
}

.top7{
    position: relative;
    top: 430px;
    left: 20px;
}

.top7 p:nth-child(1){
    font-size: 20px;
    font-weight: 700;
    color: rgb(17, 83, 109);
}

.top7 span:nth-child(1){
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.top8 p{
    font-size: 25px;
    position: relative;
    top: 430px;
    left: 20px;
}

.top8 span{
    font-size: 10px;
    color: black;
}

.top9{
    width: 98%;
    height: 500px;
    background-color: rgb(9, 13, 63);
    position: relative;
    top: 450px;
    left: 20px;
    right: 20px;
    color: #ffffff;
    display: flex;
    margin: 0px;
    padding: 0px;
    border-right: 2px solid white;
}

.top9 div{
    margin-top: 40px;
    margin-left: 60px;
}

.top91 :nth-child(3){
    position: relative;
    left: -20px;
}

/* .top94 {
  
    position: relative;
}

.top94 :nth-child(3){
    position: relative;
    left: -20px;
} */